asgiref==3.2.7
beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.6
django-bootstrap==0.2.4
django-bootstrap4==1.1.1
django-crispy-forms==1.9.1
django-vote==2.2.0
greencache==1.0.0
htmq==1.0.0
idna==2.9
Pillow==7.1.2
psycopg2==2.8.5
pytz==2020.1
redcmd==1.2.10
redlib==1.5.7
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.9
zope.interface==5.1.0
